@{
    ViewData["Title"] = "Index";
}
@model IQueryable<AppUser>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div card-header>

                <h3 class="card-title">Kullanıcılar</h3>
            </div>
            <div class="card-body">
                <div class="table table-responsive table-responsive-sm">
                    <table class=""

                </div>

            </div>

        </div>

    </div>

</div>
